In [4]:
import warnings
warnings.filterwarnings('ignore')

import ipywidgets as widgets
from IPython.display import display, clear_output

In [5]:
import mysql.connector
from mysql.connector import Error

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="waleedahmed",
  database="ezcom_client_demo"
)

In [6]:
import pandas as pd

cur = mydb.cursor()
sql_query = "SELECT * FROM warehouse_stock_list"
cur.execute(sql_query)
df= pd.DataFrame(data=cur.fetchall(),columns=['id','warehouse_id','sku','available','stock_in_transit','stock_in_pending','days_left_in oos','added_at','updated_at'])
df.head()

,id,warehouse_id,sku,available,stock_in_transit,stock_in_pending,days_left_in oos,added_at,updated_at
0,1407,3,ADHBG100-B/G12,0,0,0,0,2019-10-08 17:59:02,2019-10-09 12:08:03
1,1408,3,ADIH200PL-BLUE/R14,0,0,0,0,2019-10-09 11:29:03,2019-10-09 12:08:03
2,1409,3,ADHBG100-B/R12,0,0,0,0,2019-10-10 10:33:02,2019-10-10 15:11:02
3,1410,3,ADHTG300-R/B12,0,0,0,0,2019-10-10 10:33:02,2019-10-10 15:11:02
4,1411,3,ADIACC052K-BG,0,0,0,0,2019-10-10 17:42:09,2019-10-14 12:16:03

In [7]:
df['updated_at']=pd.to_datetime(df['updated_at'])
df['last_updated_year']=df['updated_at'].dt.year
df['month']=df['updated_at'].dt.month

In [8]:
newdf=df[['sku','available','last_updated_year','month']]

In [9]:
stocks_zero_in_2020=newdf[(newdf['available']=='0') & (newdf['last_updated_year']==2020)]
sku_stock_zero_in_year_2020=stocks_zero_in_2020.groupby(['sku','month'])['available'].count()

In [10]:
import pandas as pd
ofs_count=pd.DataFrame(sku_stock_zero_in_year_2020)
ofs_count.rename(columns={'available':'out_of_stock'},inplace=True)
ofs_count.head()

                    out_of_stock
sku          month
0U-014X-8XHX 2                 1
             5                 1
2A-YV6U-PMO4 2                 1
             5                 1
75-SL4O-8GK7 5                 1